/*
  Resets
*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/*
  Basic styling
*/

html {
  font-size: 16px;

  @media screen and (max-width: 800px) {
    font-size: 14px;
  }
}

body {
  background-color: var(--color-body);
  font-family: var(--font);
  line-height: 1.5;
}

/*
  Text Elements
*/

.content-body {
  p,
  pre,
  blockquote,
  dl,
  ul,
  ol,
  figure,
  iframe,
  table {
    margin-bottom: var(--gap);
  }
}

// Links
a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 250ms ease;

  &:hover,
  &:focus {
    color: var(--color-link-hover);
    text-decoration: underline;
  }
}

// Lists
ul, ol {
  margin-left: var(--gap);
}

dl {
  dt + dd {
    margin-bottom: calc(var(--gap) / 2);
  }

  dt + dd + dt {
    margin-top: calc(var(--gap) / 2);
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: var(--font-headings);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

// Code
pre {
  max-width: 100%;
  overflow-x: auto;
}

// Media
img, iframe,
video, audio {
  max-width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 5px var(--color-details);
}

// Tables
table {
  border: 1px solid var(--color-details-lighter);
  border-radius: 3px;
  border-collapse: collapse;
  color: var(--color-details-darker);
  width: 100%;

  th, td {
    border-bottom: 1px solid var(--color-details-lighter);
    padding: calc(var(--gap) / 4);
    text-align: left;
  }

  th {
    background: var(--color-details-lighter);
  }
}

// Horizontal rule
hr {
  width: 250px;
  height: 3px;
  margin: calc(var(--gap) * 2) auto;
  background-color: var(--color-details-lighter);
  border: none;
  border-radius: 3px;
}
