<form action="//duckduckgo.com" method="get" {% if include.class %}class="{{ include.class }}"{% endif %}>
  <label for="search_terms">{{ site.steve.search.label }}</label>

  <div class="search-controls">

    <input id="search_terms" placeholder="{{ site.steve.search.placeholder }}" type="search" name="q" required />
    <input type="hidden" name="sites" value="{{ site.url | remove: 'https://' }}" />
    <button type="submit">
      {{ site.steve.search.submit }}
    </button>

  </div>
</form>
