<form action="{{ site.comments.staticman_endpoint }}" method="post">
  <h3 class="form-title">{{ site.comments.form_title }}</h3>
  <div class="comment-message-area">
    <label for="comment_message" class="visually-hidden">
      {{ site.comments.fields.message.label }}
    </label>

    <textarea
      id="comment_message"
      class="message-area"
      name="fields[message]"
      placeholder="{{ site.comments.fields.message.placeholder }}"
      required
    ></textarea>
  </div>

  <div class="comment-fields">
    <label for="comment_name" class="visually-hidden">
      {{ site.comments.fields.name.label }}
    </label>

    <input
      type="text"
      id="comment_name"
      class="comment-field"
      name="fields[name]"
      placeholder="{{ site.comments.fields.name.placeholder }}"
      required
    />

    <label for="comment_email" class="visually-hidden">
      {{ site.comments.fields.email.label }}
    </label>
    <input
      type="email"
      id="comment_email"
      class="comment-field"
      name="fields[email]"
      placeholder="{{ site.comments.fields.email.placeholder }}"
      required
    />

    <label for="comment_website" class="visually-hidden">
      {{ site.comments.fields.website.label }}
    </label>
    <input
      type="url"
      id="comment_website"
      class="comment-field"
      name="fields[email]"
      placeholder="{{ site.comments.fields.website.placeholder }}"
    />
  </div>

  <div class="comment-actions">
    <button class="form-submit" type="submit">
      Submit Comment
    </button>
  </div>

  <input type="hidden" name="options[redirect]" value="{{ page.url |
  absolute_url }}#comments" />
  <input type="hidden" name="options[slug]" value="{{ page.slug }}" />
</form>
