<!doctype html>
<html lang="{{- page.lang | default: site.lang -}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if page.title -%}
      <title>{{ page.title }} ({{- site.title -}})</title>
    {%- else -%}
      <title>{{ site.title }} &mdash; {{ site.tagline }}</title>
    {%- endif %}
    <meta name="description" content="{{- page.excerpt | default: site.description -}}" />

    <link rel="stylesheet" href="{%- link assets/css/reset.css -%}" />
    <link rel="stylesheet" href="{%- link assets/css/style.css -%}" />
    <link rel="stylesheet" href="{%- link assets/css/variables.css -%}" />

    {% seo title=false %}
    {% feed_meta %}
    {% json_feed_meta %}
  </head>
  <body>
    <div class="site">

      {%- capture site_branding -%}
        {% if site.logo -%}
          <img class="site-logo" src="{{- site.logo -}}" alt="{{- site.title -}}" role="presentation" />
          <span class="screen-reader-text">{{- site.title -}}</span>
        {%- else -%}
          {{- site.title -}}
        {%- endif %}
      {%- endcapture -%}

      <header class="site-header">
        {% if page.title -%}
          <span class="site-title">
            <a href="{{- site.url -}}">
              {{ site_branding }}
            </a>
          </span>
        {%- endif %}
      </header>
      {{ content }}
    </div>
  </body>
</html>
